@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Caveat Brush", cursive;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  margin: 1rem;
  padding: 1rem;
  width: 14rem;
  display: inline-block;
  background-color: #f6e26b;
}

button {
  background-color: transparent;
  border: none;
}
button:hover {
  cursor: pointer;
  color: red;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: grey;
}
