<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/notes.css" />
    <title>Ny Note</title>
  </head>
  <body>
    <h1>Ny Note</h1>
    <form>
      <label for="title">Titel</label>
      <input type="text" name="title" id="title" />
      <label for="content">Indhold</label>
      <textarea type="text" name="content" id="content"></textarea>
      <button type="submit" onclick="createNote(event)">Opret Note</button>
    </form>
    <script src="/js/notes.js"></script>
  </body>
</html>
