<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/notes.css" />
    <title>Opdater Note</title>
  </head>
  <body>
    <h1>Opdater Note</h1>
    <form>
      <label for="title">Titel</label>
      <input type="text" name="title" id="title" value="<%= note.title %>" />
      <label for="content">Indhold</label>
      <textarea type="text" name="content" id="content">
<%= note.content %></textarea
      >
      <button
        type="submit"
        data-id="<%= note.id %>"
        onclick="updateNote(event, this)"
      >
        Opret Note
      </button>
    </form>
    <script src="/js/notes.js"></script>
  </body>
</html>
