<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/notes.css" />
    <title>Opdater Note</title>
  </head>
  <body>
    <h1>Opdater Note</h1>
    <p><%= note.id %></p>
  </body>
</html>
